<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width"/>
    <meta name="author" content="admins" />
    <meta name="keywords" content="rainna's js lib" />
    <meta name="description" content="HTML_WEB" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= title %></title>
</head>

<body style="overflow: hidden;" data-tagitem="ejs-tpl">
<section class="app-container">
<%- body %>
</section>
</body>
</html>